extends layout

block content
  h1= title

  table
    thead
      tr
        th League Name
        th Abbreviation
        th Sport
    tbody
    - all_leagues.sort(function(a, b) {let textA = a.league_short.toUpperCase(); let textB = b.league_short.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    if all_leagues.length > 0
      for league of all_leagues
        tr 
          td 
            a(href=league.url) #{league.league}
          td #{league.league_short}
          td #{league.sport}
    else
      li No leagues found!