extends layout

block content
  h1= title

  table
    thead
      tr
        th Number
        th First Name
        th Last Name
        th Team
        th Position
    tbody
    - all_players.sort(function(a, b) {let textA = a.lastName.toUpperCase(); let textB = b.lastName.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
    each element in all_players
      tr 
        td #{element.jersey_number}
        td 
          a(href=element.url) #{element.firstName}
        td 
          a(href=element.url) #{element.lastName}
        td #{element.team.city} #{element.team.teamName}
        td #{element.position}
    else
      li No players found!